
#page-content-wrapper {
  margin-right: 20px;
  top: 10px;
}

.content {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}